[data-theme=light] {
    --related-border: #bcbcbc;
    --button-background: #ebc000;
    --button-text: #000;
}

[data-theme=dark] {
    --related-border: #525252;
    --button-background: #ebc000;
    --button-text: #000;
}


.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--frame-background);
    background-size: cover;
    z-index: -1;
}

.frameContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 30px 20px 30px;
    background-color: var(--frame-background);
    line-height: 1.7;
}

@media (max-width: 700px) {
    .background {
        background-image: none !important;
    }
}

@media (min-width: 700px) {

    .frameContainer {
        position: absolute;
        width: 500px;
        max-height: 85vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
        overflow: overlay;
        border-radius: 13px;
        box-shadow: #33333333 0 0 10px;
    }
}

.frameContainer .logo {
    width: 100%;
    height: 45px;
    background-image: var(--icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 24px 0 10px 0;
    text-align: center;
    font-size: 30px;
}


h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
}

.h1then {
    text-align: center;
    font-size: 15px;
    margin: -6px 0 14px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label.checkbox {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    margin: 6px 0;
}

.form label input {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    margin-top: 7px;
}

.serviceMsg {
    font-size: 16px;
    padding: 0 0 8px 0;
    text-align: center;
}

.serviceMsg.error {
    color: var(--warn);
}

.form button {
    padding: 12px 21px;
    margin: 6px 0;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: var(--button-background);
    color: var(--button-text);
    cursor: pointer;
}

.form button.processing {
    cursor: default;
    pointer-events: none;
    color: #00000000;
    background-image: url(../public/loading.gif);
    background-position: center;
    background-size: 23px;
    background-repeat: no-repeat;
}

.related {
    text-align: center;
    margin: 10px 0;
}

.related a {
    font-size: 15.4px;
}

.related a:not(:first-child) {
    padding-left: 7px;
}

.related a:not(:last-child) {
    padding-right: 7px;
    border-right: var(--related-border) 1px solid;
}

.footer {
    text-align: center;
    font-size: 14px;
    opacity: .85;
}

.seleteLang {
    font-size: 14px;
    margin-top: 7px;
    padding: 3px 0;
    background: var(--frame-background);
}