[data-theme=light] {
    --sidebar: #000;
    --sidebar-active-background: #f2f2f2;
    --sidebar-active: #000;
    --sidebar-box-shadow: 5px 2px 3px 0px #62626212;
    --pc-split-line: #dddddd;
    --block-border: #e8e8e8;
    --block-button-border: #d4d4d4;
}

[data-manage-page=true] .manageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--frame-background);

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        flex-grow: 0;
        flex-shrink: 0;
        transition: all .2s;

        .icon {
            width: 40px;
            height: 40px;
            cursor: pointer;
            margin: 0px 10px 0px 20px;
            text-align: center;
            font-size: 30px;
            flex-shrink: 0;

            background: {
                color: transparent;
                image: var(--icon);
                size: contain;
                repeat: no-repeat;
                position: center;
            }
        }

        :focus-visible {
            border-radius: 50%;
        }

        .title {
            font-size: 23px;
            font-weight: bold;
            margin: 0px 0px 0px 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex-grow: 1;
        }

        .user {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin: 0px 20px 0px 10px;
            flex-grow: 1;
            flex-shrink: 0;

            p {
                max-width: 20vw;
                font-size: 17px;
                padding-right: 6px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
            }

            button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                flex-shrink: 0;

                background: {
                    color: var(--avatar-skection);
                    position: center;
                    size: contain;
                }

                cursor: pointer;
                margin: 0px;
                padding: 0px;
            }
        }
    }

    @media (max-width: 800px) {
        .header {
            height: 50px;

            *:not(.user) {
                transform: scale(.86);
            }

            .title {
                text-align: center;
            }

            .user {
                flex-grow: 0;

                p {
                    display: none;
                }
            }
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        height: 1px;
        flex-grow: 1;

        @media (max-width: 800px) {
            overflow-y: auto;
            overflow-y: overlay;
            overflow-x: hidden;
            flex-direction: column;
            justify-content: flex-start;

            .pageContent,
            .relatedFrame {
                flex: 0 0;
            }
        }

        .sideBar {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-y: overlay;
            overflow-x: hidden;
            background-color: var(--frame-background);

            a {
                margin: 2px 2px;
                padding: 6px 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 7px;

                .material-design-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-right: 7px;

                    svg {
                        width: 16px;
                        fill: var(--sidebar);
                    }
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    fill: var(--sidebar);
                    font-size: 17px;
                }
            }

            :hover,
            :focus-visible {
                background: var(--sidebar-active-background);
            }

            a.router-link-exact-active {
                background: var(--sidebar-active-background);
                font-weight: bold;
            }

            @media (min-width: 800px) {
                width: min(240px, 20vw);
                display: flex;
                flex-direction: column;
                flex-grow: 0;
                flex-shrink: 0;
                padding: 6px 13px;
            }

            @media (max-width: 800px) {
                position: fixed;
                top: 50px;
                bottom: 0;
                left: 0;
                width: min(70%, 280px);
                padding: 5px 11px;
                z-index: 3;
                transform: translate(-100%, 0);
                visibility: hidden;
                transition: all 0.2s;
                padding: 10px 20px;
            }

        }

        .sideBarCover {
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            background: rgba(0, 0, 0, 0.299);
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s;
        }

        @media (min-width: 800px) {
            .pcSplitLine {
                margin: 5px 0 20px 0;
                width: 0;
                flex-grow: 0;
                border-right: 1px solid var(--pc-split-line);
            }
        }

        @media (max-width: 800px) {
            .sideBar.opened {
                visibility: visible;
                transform: translate(0, 0);
                box-shadow: var(--sidebar-box-shadow);
                transition: all 0.3s;
            }

            .sideBarCover.opened {
                visibility: visible;
                opacity: 1;
                transition: all 0.3s;
            }
        }

        .block {
            margin: 7px 0;
            padding: 14px 12px;
            border: 1px solid var(--block-border);
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            line-height: 1.7;

            .title {
                font-size: 18px;
                font-weight: bold;
                margin: 0px 0px 10px 0px;
            }
            
            .title.bigger {
                font-size: 130%;
            }

            .table {
                // width: calc(100% + 6px);
                overflow-x: auto;
                overflow-x: overlay;
                border: 1px solid var(--block-border);
                border-radius: 4px;
            }

            table {

                thead {
                    background: var(--block-table-header-background);
                    color: var(--block-table-header);
                    font-weight: bold;
                }

                thead,
                tbody {
                    margin: 0 -2.5px;
                }

                td {
                    padding: 2.5px 4.5px;
                    border: 1px solid var(--block-border);
                    border-radius: 2px;
                    font-size: 15px;
                    line-height: 1.45;
                }

            }
        }

        .btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                flex-grow: 1;
            }
        }

        button.blockButton {
            margin: 8px 7px 0px 0px;
            padding: 9px 15px;
            border-radius: 5px;
            font-size: 15px;
            border: 1px solid var(--block-button-border);
            background: var(--block-button-background);
            color: var(--block-button-color);
            font-weight: bold;
            cursor: pointer;
        }

        button.blockButton:last-child {
            margin-right: 0px;
        }

        .accountSwitcher {
            position: fixed;
            top: 50px;
            right: 16px;
            z-index: 10;
            width: min(calc(100vw - 54px), 300px);
            padding: 5px 11px;
            background: var(--frame-background);
            border-radius: 7px;
            overflow-y: auto;
            overflow-y: overlay;
            box-shadow: #62626212 0px 0px 0px 1px;

            .title {
                padding: 10px;
                font-size: 17px;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center;

                * {
                    margin-top: 0;
                }
            }

            .uList {
                padding: 0 10px 17px 10px;
                display: flex;
                flex-direction: column;
            }
        }

        .pageContent {
            display: flex;
            flex-direction: column;
            background-color: var(--frame-background);
            padding: 2px 16px;

            @media (min-width: 800px) {
                flex-grow: 1;
                overflow-y: auto;
                overflow-y: overlay;
                overflow-x: hidden;
            }

            h1 {
                font-size: 24px;
                font-weight: bold;
                margin: 4px 13px 10px 13px;
            }

        }

        .relatedFrame {
            padding: 2px 16px;

            @media (max-width: 800px) {
                padding: 0px 16px 20px 16px;
                margin-top: -2px;
            }

            @media (min-width: 800px) {
                width: min(240px, 20vw);
                overflow: auto;
                overflow: overlay;
                flex-grow: 0;
                flex-shrink: 0;
                transition: width .2s;

                .block {
                    padding: 0px 0;
                    border: none;
                }
            }

            @media (min-width: 1000px) {
                width: min(350px, 27vw);
            }

            @media (min-width: 1400px) {
                width: min(450px, 27vw);
            }
        }

        .block.specialBlockA {
            align-items: center;

            .texts {
                width: -webkit-fill-available;
            }

            .img {
                display: inline;
                width: min(60%, 300px);
                margin-top: 20px;
                height: 0;
                padding-bottom: 30%;

                background: {
                    size: contain;
                    repeat: no-repeat;
                    position: top center;
                }
            }

            @media (min-width: 1200px) {
                flex-direction: row;
                align-items: flex-start;

                .img {
                    width: 600px;
                    margin-top: 15px;
                    margin-left: 12px;
                    flex-grow: 0;
                }
            }
        }
    }

    .not-found {
        width: min(84%, 500px);
        margin: auto;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
}