body {
    --text: #000;
    --a: #e5bb00;
    --warn: #f44;
    --outline: 3px solid #fabb00cc;
    --scroller-grey: #c8c8c854;
    --page-background: #eee;
    --frame-background: #fff;
    --label-input-label-inactive: #767676cc;
    --label-input-label-active: #fabb00cc;
    --input-border: #ccc;
    --input-border-focus: #fabb00cc;
    --avatar-skection: #cecece89;
    --logout-hover-bg: #e1e1e1;
    --icon: url(https://websiteres.nmteam.xyz/producticon/nmTeam/logo@64.png);
}

body [data-theme=dark] {
    --text: #fff;
    --a: #e5bb00;
    --warn: #f44;
    --outline: 3px solid #fabb00cc;
    --scroller-grey: #616161a1;
    --page-background: #000;
    --frame-background: #202020;
    --label-input-label-inactive: #c8c8c8;
    --label-input-label-active: #fabb00cc;
    --input-border: #5d5d5d;
    --input-border-focus: #fabb00cc;
    --logout-hover-bg: #464646;
    --icon: url(https://websiteres.nmteam.xyz/producticon/nmTeam/logo@64.png);
}

html {
    overflow: hidden;
}

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    word-break: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    font-family: PingFang SC, Microsoft Yahei, HanHei SC, Arial;
    color: var(--text);
    text-decoration: none;
}

svg {
    fill: var(--text);
}

* {
    scroll-behavior: smooth;
}

a {
    color: var(--a);
    text-decoration: none;
}

/* *::selection {
    background-color: var(--selection-bgcolor);
} */

:focus-visible {
    outline: var(--outline);
    outline-offset: 0px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scroller-grey);
}

*:not(:hover):not(:focus):not(:active)::-webkit-scrollbar-thumb {
    background-color: #00000000;
    transition: all 1s;
}

body *[scroll=hidden]::-webkit-scrollbar-thumb {
    background: none;
}

::-webkit-scrollbar-track {
    margin: 8px;
    border-radius: 10px;
    width: 0;
    opacity: 0;
}

.user {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: none;
    // overflow: hidden;
    cursor: pointer;

    i {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: var(--avatar-skection);
        background-size: cover;
        background-position: center;
        margin-right: 12px;
        flex-shrink: 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        flex-grow: 1;
        font-size: 16px;
        text-align: left;
        overflow: hidden;

        * {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .nick {
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .mail {
            font-size: 14px;
            opacity: .87;
        }
    }

    .logOutBut {
        flex: 0 0;

        button {
            background: none;
            padding: 9px 9px;
            margin-right: -4px;
            border-radius: 5px;

            svg {
                width: 16px;
            }
        }

        :hover {
            background: var(--logout-hover-bg);
        }
    }
}

.user[force-border]:last-of-type {
    border-bottom: 1px solid var(--input-border);
}

.user[force-border]:last-of-type {
    border-bottom: 1px solid var(--input-border);
}

.user:not(:first-of-type),
.user[force-border] {
    border-top: 1px solid var(--input-border);
    margin-top: 10px;
    padding-top: 10px;
}

.user[force-border] {
    margin: 0;
    padding: 11px 0 15px 0;
}

.linkA {
    padding: 9px 0;
    margin: 0;
    color: var(--a);

    span {
        margin: 0;
        padding: 0;
        color: var(--a);
        font-size: 16px;
    }

    svg {
        width: 11px;
        margin: 0px 0 -1px 4px;
        fill: var(--a);
        color: var(--a) !important;
        transition: margin .2s;

        * {
            fill: var(--a);
            color: var(--a) !important;
        }
    }
}

:focus-visible .linkA {
    outline: var(--outline);
    outline-offset: 0px;
}

:focus-visible .linkA,
.linkA:hover {
    filter: brightness(.9);

    svg {
        margin: 0 -3px -1px 7px;
    }
}

.commonLoading {
    display: block;
    height: 60px;
    background-image: url(/loading.gif);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}